@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
} 
html,body{
    margin: 0; 
    padding: 0; 
    height: 100%;
}  
body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: hsl(217, 54%, 11%);
} 
.principal{
    justify-content: center; 
    width: 300px ; 
    height: 600px;  
    background-color:hsl(216, 50%, 16%);  
    border-radius: 5px 5px 5px 5px; 
    border: 3px solid silver;
   
} 
.portada{
    width: 300px; 
    height: 250px; 
    padding: 1rem 1rem;
} 
.encabezado{
    font-family: "outfit"; 
    font-size: 26PX; 
    margin-left: 1rem; 
    color: white;
} 
.parrafo{
    padding: 1rem; 
    color: hsl(215, 51%, 70%); 
    font-family: "outfit";
}  

.oferta{ 
    padding: 1rem; 
    color: white; 
    font-family: "outfit";
}  
.resaltar{
    color: hsl(215, 51%, 70%); 
    font-family: "outfit";
} 
.linea {
    height: 3.5px; 
    width: 250px;
    background-color: hsl(215, 32%, 27%);
  }
.tutor{
    display: inline-block;  
    vertical-align: text-top; 
    text-align: center; 
    padding: 0; 
    margin-bottom: 10px; 
    color:white;  
    font-family: "outfit";
}  
.nombre{
    color:  hsl(215, 51%, 70%) ; 
    font-family: "outfit";
}
.foto{
    height: 40px; 
    width: 40px; 
    padding: .2rem; 
    margin-left: 10px;
}